@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", sans-serif;
}
a {
  text-decoration: none;
}
input,
textarea,
select,
button {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: inherit;
}

body {
  min-height: 100vh;
  background-color: rgb(249, 250, 251);
}

.main-container {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(12, 12, 24);
}

.left-container {
  flex-basis: 30%;
  background-image: url(./assets/background-halloween.jpg);
  background-size: cover;

  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-container .logo {
  height: 15vh;
  background-color: rgba(125, 59, 27, 0.2);
  background-image: url(./assets/odin-lined.png);
  opacity: 0.5;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;

  margin-top: 7rem;
  background-clip: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.left-container .logo .logo-text {
  font-size: 40px;
  color: white;
  margin-left: auto;
  flex-basis: 50%;
}
.right-container {
  flex-grow: 1;

  min-height: 80vh;
  height: fit-content;
}

.right-container > h1 {
  padding-left: 4rem;
  padding-right: 4rem;

  margin-top: 2rem;
  color: #f94d0c;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: #f94d0c;
  min-height: 50vh;
  padding: 1rem 4rem;
  margin-top: 10vh;
  box-shadow: 5px 5px 3px 1px #000;
}
.form-container form {
  display: flex;
  gap: 3rem 4rem;
  flex-wrap: wrap;
  align-content: center;
  flex: 1;
  max-width: 600px;
}
.form-container form > * {
  min-width: 30%;
  flex-grow: 1;
}
.form-container form label {
  display: block;
}
/*como a label ta em cima vou precisar por todos em uma div */
.form-container form input {
  display: block;
  border: solid 1px #e5e7eb;
  flex: 1;
  height: 1.5rem;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  position: relative;
}

.form-container form input:focus {
  border: 1px solid blue;
  box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.4);
  outline: none;
}

.form-container form input:invalid {
  border: 3px solid rgb(233, 15, 15);
}
.form-container form input.error:invalid + span::after,
.form-container form input.error + span::after {
  content: "* Passwords do not match";
  position: absolute;
  color: rgb(197, 3, 3);
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
  padding-left: 4rem;
  gap: 1rem;
}

.button-container button {
  padding: 0.5rem 2.5rem;
  border-radius: 5px;
  border: none;
  font-size: 1.1rem;
  background-color: #9d4900;
  color: white;
  font-weight: bolder;
}
.button-container span {
  color: white;
}

.photo-credit-container {
  color: white;
  padding: 15px;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.3);
  font-size: 10px;
  word-spacing: 0.8ch;
}
.photo-credit-container a {
  color: white;
  text-decoration: underline;
  font-size: 12px;
}
